.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 51px auto 0;
}

.loader__text{
    font-family: Roboto, sans-serif;
    margin-top: 20px;
    font-size: 20px;
}