*, :before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    --lighter-blue: #2196F3;
    --light-blue: #1E88E5;
    --orange: #F24E1E;
    --bright-orange: #FF3A00;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1316px;
    margin: 0 auto;
}
.nothing-to-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0;
}

@media screen and (max-width: 475px) {
    .wrapper{
        align-items: center;
    }
}